@model ContactMVCApp1.VM.AddContactViewModel

<h2>Add Contact</h2>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<style>
    .small-textbox {
        width: 800px;
    }
</style>

@using (Html.BeginForm("AddContact", "Contacts", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control small-textbox" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MobileNumber, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control small-textbox" })
        @Html.ValidationMessageFor(m => m.MobileNumber, "", new { @class = "text-danger" })
    </div>
    <input type="submit" value="Add Contact" class="btn btn-primary" />
}
